{
  "env": {
    "browser": true,
    "es2022": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "extends": [
    "plugin:react/recommended",
    "airbnb",
    "airbnb-typescript",
    "plugin:react-hooks/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:prettier/recommended",
    "./.eslintimport"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "plugins": ["react", "@typescript-eslint"],
  "rules": {
    "react/react-in-jsx-scope": "off",
    "react/no-unused-prop-types": "error",
    "react/jsx-pascal-case": "error",
    "react/jsx-props-no-spreading": "off",
    "react/jsx-no-constructed-context-values": "off",
    "react/jsx-sort-props": "warn",
    "react/require-default-props": "off",
    "react/jsx-no-target-blank": [
      "error",
      {
        "allowReferrer": true
      }
    ],
    "react/jsx-no-useless-fragment": [
      "error",
      {
        "allowExpressions": true
      }
    ],
    "react/function-component-definition": [
      "error",
      {
        "namedComponents": "arrow-function"
      }
    ],
    "@typescript-eslint/consistent-type-definitions": ["error", "type"],
    "@typescript-eslint/no-unused-vars": "error",
    "@typescript-eslint/ban-types": "error",
    "@typescript-eslint/method-signature-style": ["error", "property"],
    "@typescript-eslint/consistent-type-exports": "error",
    "@typescript-eslint/consistent-type-assertions": "error",
    "@typescript-eslint/prefer-nullish-coalescing": [
      "error",
      {
        "ignoreTernaryTests": false,
        "ignoreConditionalTests": false
      }
    ],
    "@typescript-eslint/prefer-optional-chain": "error",
    "@typescript-eslint/no-non-null-assertion": "error",
    "@typescript-eslint/prefer-string-starts-ends-with": "error",
    "@typescript-eslint/no-redundant-type-constituents": "error",
    "@typescript-eslint/no-unnecessary-boolean-literal-compare": "error",
    "@typescript-eslint/no-unnecessary-type-arguments": "error",
    "jsx-a11y/label-has-associated-control": [
      "error",
      {
        "assert": "either"
      }
    ],
    "import/prefer-default-export": "off",
    "import/order": "off",
    "import/no-extraneous-dependencies": "off",
    "camelcase": "error",
    "no-param-reassign": [
      "error",
      {
        "props": false
      }
    ],
    "no-console": "error",
    "no-unreachable": "error",
    "require-await": "error"
  },
  "overrides": [
    {
      "files": ["src/vite-env.d.ts"],
      "rules": {
        "@typescript-eslint/consistent-type-definitions": "off"
      }
    }
  ]
}
